nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

a {
  background-color: var(--color--nav-link-background);
  color: var(--color--body-foreground);
  text-decoration: none;

  border-radius: 0.2rem;
  padding: 0.5rem 1rem;

  display: flex;
  gap: 0.5rem;
  flex-grow: 1;
}

a:hover {
  background-color: var(--color--nav-link-background--hover);
}

img {
  width: 40px;
}

p {
  font-size: 1rem;
}
