/* write your code here ... */
ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
}

ul > li {
}

ul > li.large {
  opacity: 0.5;
  grid-column: span 2;
}

ul > li > label {
  cursor: pointer;
}

ul > li > label > input {
  display: none;
}

ul > li > label > img {
  width: 100%;
  max-width: 100%;
}

ul > li > label > i {
}
